.pageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.leftSide {
  background-color: #111827;
  padding: 6rem 4rem;
}

.rightSide {
  background-color: #F9FAFB;
  padding: 6rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .pageContainer {
    grid-template-columns: 1fr;
  }
}
